.vote h1 {
  margin-top: 3vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 6vh;
  font-weight: 300;
  text-align: center;
}

.vote .btn-outline-secondary {
  margin-top:2vh;
  margin-bottom:1.3vh;
  margin-left: 1vw;
  margin-right: 1vw;
  color: rgb(33, 37, 41);
  border-color: rgb(33, 37, 41);
}

.vote .btn-outline-secondary:hover {
  background-color: transparent;
  color: rgb(255, 82, 82);
  border-color: rgb(255, 82, 82);
}

.vote .choice {
  font-size: 23px;
}

.vote .details {
  font-size: 13px;
  padding-left:20px;
}
